//- SIGN IN MODAL
//- templates/modals/sign-in-modal.pug
.sign-in-modal.modal
  .modal-head
    .modal-head__title Sign In With Social Network
    .modal-close
  .modal-content
    .sign-in-modal-content
      .modal-heading Please Sign in for voting
      .modal-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .sign-in-buttons
        .sign-in-buttons__facebook
        .sign-in-buttons__gplus
        .sign-in-buttons__twitter