//- THANK YOU MODAL
//- templates/modals/thank-you-modal.pug
.thank-you-modal.modal
  .modal-head
    .modal-head__title Thank you!
    .modal-close
  .modal-content
    .sign-in-modal-content
      .modal-heading Thank You for your voice! 
      .modal-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .share-block
        .modal-text “I have voted for Qfer in “Best Design App” category. Проголосуй и выиграй Xiami Mi Band 3!”