// *************
// HEADER STYLES
// *************

.header
  display flex
  flex-direction row
  flex-wrap nowrap
  flex-flow row nowrap
  align-items center
  align-content flex-start
  justify-content: flex-start
  width 100%
  max-width 1440px
  height auto
  margin 0 auto
  padding 0
  border-bottom 3px solid #CD75C2
  @media (min-width 1441px)
    border-right 3px solid #CD75C2
    border-left 3px solid #cd75c2

.nominate-the-app-button
  display: block
  width 285px
  height 65px
  border-right 3px solid #CD75C2
  background-color pinkerton 
  font-family monorobot
  font-size 24px
  line-height 65px
  font-weight 500
  color #fff
  text-align center
  text-transform uppercase
  cursor pointer

.see-the-prizes
  display: block
  width auto
  padding 0 22px
  font-family monorobot
  font-size 18px
  line-height 25px
  font-weight 500
  color pinky
  text-decoration underline
  cursor pointer


// LOGIN BLOCK
.header-login-block
  display flex
  flex-direction row
  flex-wrap nowrap
  flex-flow row nowrap
  align-items center
  align-content flex-start
  justify-content: flex-start
  width 206px
  height 65px
  margin 0 0 0 auto

.header-login-block__avatar-container
  display: block
  width 71px
  height 65px
  padding 13px 0
  border-left 3px solid #cd75c2
  border-right 3px solid #cd75c2

.header-login-block__avatar
  display: block
  width 39px
  height 39px
  margin 0 auto
  border-radius 50%
  border 3px solid #cd75c2
  background-color transparent
  background-image url('../img/icons/user-dummy.svg')
  background-repeat no-repeat
  background-size 16px auto
  background-position 50% 50%

.header-login-block__sign-in-and-out
  display: block
  width 135px
  height 65px
  margin 0 auto
  font-family monorobot
  font-size 18px
  line-height 65px
  font-weight 500
  color pinky
  text-decoration underline
  cursor pointer
  text-align center