// **********
// TYPOGRAPHY
// **********

// Fonts
monorobot = 'Roboto Mono', monospace
robot = 'Roboto', sans-serif

.heading-h1
  display block
  width 100%
  height auto
  margin 0 0 8px
  font-family: monorobot
  font-size 54px
  font-weight: normal
  line-height 60px
  color #fff

.modal-heading
  display block
  margin 0 0 29px
  font-family: monorobot
  font-size 24px
  font-weight: 500
  line-height 32px
  color #000
  text-decoration underline

.modal-text
  display block
  margin 0 0 65px
  font-family: robot
  font-size 18px
  font-weight: normal
  line-height 27px
  color #000