//- FOOTER FOR PRIZES PAGE
//- templates/prizes/footer-prizes.pug
footer.footer.footer_prizes
  .footer-subscribe-block
    .footer-subscribe-block__title Subscribe for news
    form.footer-subscribe-block__form
      input.footer-subscribe-block__input(type='text')
      button.footer-subscribe-block__submit Subscribe
  .footer-links-block
    .footer-links-block__column
      .footer-links-block__title Follow us
      .follow-us-links
        a.follow-us-links__link.follow-us-links__link_twitter(href='#')
        a.follow-us-links__link.follow-us-links__link_fb(href='#')
    .footer-links-block__column
      .footer-links-block__title Organizers
      a.oraganizer-gdg-riga(href='https://gdgriga.lv/' target='_blank')
        span
      a.oraganizer-gdg-daugavpils(href='https://www.meetup.com/GDG-Daugavpils/' target='_blank')
        span
    .footer-links-block__column
      .footer-links-block__title Partners
      .partner-google
  .footer-copyright &copy;2018