//- prizes page template
//- templates/prizes/prizes-page.pug
.prizes-page-section
  a.back-to-nominates(href='#') Back to Nominates
  .prizes-page-content
    .prizes-page-content__image-container
      img(src='assets/img/white-dummy.png')
    .prizes-page-content__text-block
      .prizes-page-content__heading Best Features Award 2018
      // Тут кароч придется дублировать вот эту картинку выше сюда. Иначе никак.
      .prizes-page-content__inside-text-image
        img(src='assets/img/white-dummy.png')
      .prizes-page-content__text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
    