//- PRIZES PAGE
//- dev/prizes.pug
doctype html
html(lang='ru')
  include ./templates/head
  body
    .page-wrapper.page-wrapper_prizes
      include ./templates/prizes/prizes-page
      include ./templates/prizes/footer-prizes
    include ./templates/scripts
    include ./templates/resources