//- HEAD
//- temaplates/head.pug
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes')
  meta(name='format-detection' content='telephone=no')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title DevFest Baltic 2018
  //- Main styles
  link(rel='stylesheet' href='assets/styles/bundle.min.css')
  //- Favicons  
  link(rel='shortcut icon', sizes='32x32', href='favicon-32.png')
  link(rel='shortcut icon', href='favicon-72.png')
  link(rel='apple-touch-icon', href='homescreen-48.png')
  link(rel='apple-touch-icon', sizes='72x72', href='homescreen-72.png')
  link(rel='apple-touch-icon', sizes='96x96', href='homescreen-96.png')
  link(rel='apple-touch-icon', sizes='144x144', href='homescreen-144.png')
  link(rel='apple-touch-icon', sizes='192x192', href='homescreen-192.png')