//- index page template
//- templates/index/index-page.pug
a.mobile-nav-opener(role='button')
section.prize-disclaimer
  .prize-info-block
    .prize-info-block__title Choose the app in each category and win a XIAMOMI MI BAND 3 BLACK
    .prize-info-block__text Izlozes noteikumi: Lietotājam jāizvēlas viena lietotne katrā kategorijā (Best Design, Best Features, Best Indie). Izloze notiks no x.10.2018. līdz 16.11.2018. Izlozes rezultāti tiks publicēti https://devfest2018.gdg.lv vietnē 16.11.2018.
// Nomination 1
section.nomination-section
  h1.heading-h1 Category Best Design Award 2018
  .votes-counter
    span 217
    | votes
  .leaders-block
    .leaders-block__title Leaders
    .leading-apps
      // app 1
      .app-card
        .app-card__content
          .app-card__icon
            img(src='assets/img/apps/app-icon-1.png')
          .app-card__name
            span Citadele App
          .app-card__votes
            span 145
            | votes
          a.app-card__engage-button.app-card__engage-button_your-choice.modal-opener(role='button' data-modal='app') Your choice
      // app 2
      .app-card
        .app-card__content
          .app-card__icon
            img(src='assets/img/apps/app-icon-2.png')
          .app-card__name
            span Taxify
          .app-card__votes
            span 145
            | votes
          a.app-card__engage-button.modal-opener(role='button' data-modal='app') Choose
      // app 3
      .app-card
        .app-card__content
          .app-card__icon
            img(src='assets/img/apps/app-icon-3.png')
          .app-card__name
            span Fabula
          .app-card__votes
            span 145
            | votes
          a.app-card__engage-button.modal-opener(role='button' data-modal='app') Choose
      // app 4
      .app-card
        .app-card__content
          .app-card__icon
            img(src='assets/img/apps/app-icon-4.png')
          .app-card__name
            span Qfer
          .app-card__votes
            span 145
            | votes
          a.app-card__engage-button.modal-opener(role='button' data-modal='app') Choose
  a.view-all-link(href='#')
    | View All
    span 54
    | Nominates
// Nomination 2
section.nomination-section
  h1.heading-h1 Category Best Features Award 2018
  .votes-counter
    span 345
    | votes
  .leaders-block
    .leaders-block__title Leaders
    .leading-apps
      // app 1
      .app-card
        .app-card__content
          .app-card__icon
            img(src='assets/img/apps/app-icon-1.png')
          .app-card__name
            span Citadele App
          .app-card__votes
            span 145
            | votes
          a.app-card__engage-button.modal-opener(role='button' data-modal='app') Choose
      // app 2
      .app-card
        .app-card__content
          .app-card__icon
            img(src='assets/img/apps/app-icon-2.png')
          .app-card__name
            span Taxify
          .app-card__votes
            span 145
            | votes
          a.app-card__engage-button.modal-opener(role='button' data-modal='app') Choose
      // app 3
      .app-card
        .app-card__content
          .app-card__icon
            img(src='assets/img/apps/app-icon-3.png')
          .app-card__name
            span Fabula
          .app-card__votes
            span 145
            | votes
          a.app-card__engage-button.modal-opener(role='button' data-modal='app') Choose
      // app 4
      .app-card
        .app-card__content
          .app-card__icon
            img(src='assets/img/apps/app-icon-4.png')
          .app-card__name
            span Qfer
          .app-card__votes
            span 145
            | votes
          a.app-card__engage-button.modal-opener(role='button' data-modal='app') Choose
  a.view-all-link(href='#')
    | View All
    span 18
    | Nominates
// Nomination 3
section.nomination-section
  h1.heading-h1 Category Best Indie App Award 2018
  .votes-counter
    span 407
    | votes
  .leaders-block
    .leaders-block__title Leaders
    .leading-apps
      // app 1
      .app-card
        .app-card__content
          .app-card__icon
            img(src='assets/img/apps/app-icon-1.png')
          .app-card__name
            span Citadele App
          .app-card__votes
            span 256
            | votes
          a.app-card__engage-button.modal-opener(role='button' data-modal='app') Choose
      // app 2
      .app-card
        .app-card__content
          .app-card__icon
            img(src='assets/img/apps/app-icon-2.png')
          .app-card__name
            span Taxify
          .app-card__votes
            span 13
            | votes
          a.app-card__engage-button.modal-opener(role='button' data-modal='app') Choose
      // app 3
      .app-card
        .app-card__content
          .app-card__icon
            img(src='assets/img/apps/app-icon-3.png')
          .app-card__name
            span Fabula
          .app-card__votes
            span 127
            | votes
          a.app-card__engage-button.modal-opener(role='button' data-modal='app') Choose
      // app 4
      .app-card
        .app-card__content
          .app-card__icon
            img(src='assets/img/apps/app-icon-4.png')
          .app-card__name
            span Qfer
          .app-card__votes
            span 190
            | votes
          a.app-card__engage-button.modal-opener(role='button' data-modal='app') Choose
  a.view-all-link(href='#')
    | View All
    span 42
    | Nominates
